.option_account i {
    color: rgb(168, 168, 168);
    margin-right: 10px;
}
.box_menu{
    border: solid 1px gray;
    
}

.content_account{
    display: flex;
    font-size: 15px;
}
.box_menu{
    padding: 15px;
}
.lh{
    text-align: center;
}