.brand-item i{
    font-size: 30px;
    margin-left: 60px;
    margin-top: 60px;
}

.brand-item h6{
    font-size: 40px;
    font-family: Playfair Display;
    font-weight: bold;
    padding-top: 80px;
    margin: 0;
    text-align: center;
    margin-bottom: 33px;
}
@media screen and (max-width: 1000px){
    .list-products{
        display: block;
        
    }
    
    
}