#upload_photo{
    opacity: 0;
    position: absolute;
    z-index: -1;
    
}
.upload_photo{
    cursor: pointer;
    font-size: 10px;
    color: blue;
    text-align: center;
    text-decoration: underline;
}
.submit-s{
    background-color: white;
    border-width:  1px;
    background-color: black;
    color: white;
    margin-top: 40px;
    position: relative;
    left : 60px;
}
.hr{
    margin-right: 100px;
    position: relative;
    left : -60px;
}
