.modal-form_i{
    /* text-align: center; */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
    z-index: 1;
    
  }
.modal-body-form_i{
    width: 416px;
    height: 750px;
    background-color: white;
    position: relative;
    margin: auto;
    margin-top: 50px;
    border-radius: 8px;
    z-index: 2;
}
.modal-overlay-form_i{
    position: absolute;
    width: 100%;
    height: 1600px;
    background-color: rgba(128, 128, 128, 0.74);
  }
  .bundle_instruction{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.bundle_button{
    display: flex;
    justify-content: space-around;
    max-width: 350px;
    margin: auto;
    margin-top: 30px;
}
.cancle_instruct{
    width: 150px;
    height: 45px;
    color: #E37B73;
    border: 1px solid #E37B73;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    line-height: 45px;
}
.change_photo_instruct{
    width: 150px;
    height: 45px;
    background-color: #E37B73;
    color: white;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    line-height: 45px;
}
  .h{
    text-align: center;
    font-size: 24px;
    font-family: Lexend, serif;
    font-weight: bold;
    padding-top: 60px;
    padding-bottom: 12px;

}
.k{
    font-family: Lexend, serif;
    font-weight: 400;
    margin-bottom: 34px;
}


.cancler{
    position: absolute;
    top: 682px;
    left: 99px;
}
.change_photo{
    position: absolute;
    top: 682px;
    left: 216px;
    background-color: #E37B73;
    color: white;
    border-radius: 5px;
    
}
.change_photo label{
    font-size: 10px;
    font-weight: 100;
    color: white;
    padding: 8px 18px;
    margin: 0;
}
@media screen and (max-width: 576px){
    
    .modal-form_i{
        
        position: absolute;
        z-index: 2;
        height: 900px;
        overflow-x: hidden;
        
    }
    /* .modal-body-form_i{
        height: 100%;
    }
    .modal-inner-form{
        height: 100%;
    }
    .instruct_p{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .instruct_t{
        flex-basis: 90%;
    } */
    .modal-overlay-form_i{
        background-color: white;
        height: 100%;
    }
    .modal-body-form_i{
        width: 100%;
        height: 780px;
        background-color: white;
        position: relative;
        top: -50px;
        margin: auto;
        margin-top: 50px;
        border-radius: 0px;
        z-index: 2;
    }
   
    .modal-body-form_i{
        /* position: absolute; */
        /* top: 30px; */
        height: 830px
    }
    .h{
        padding: 10px;
        font-size: 24px;
        /* position: absolute;
        top:0px;
        left: 125px; */
    }
    .k{
        /* position: absolute;
        top:50px;
        left: 35px; */
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .cancler{
        position: absolute;
        top: 572px;
        left: 89px;
    }
    .change_photo{
        position: absolute;
        top: 572px;
        left: 216px;
        background-color: #E37B73;
        color: white;
        border-radius: 5px;
        
    }
    .change_photo label{
        font-size: 10px;
        font-weight: 100;
        color: white;
        padding: 8px 18px;
        margin: 0;
    }
    
}